---
layout: page
---

{{ content }}

<hr class="hr mt-4" />

<h3 class="text-center">Latest publications</h3>

{% for pub in site.publications reversed limit:3 %}

<div class="p-2 mb-2 d-flex align-items-stretch">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-xl col-md-0">
          <h5 class="card-title">{{ pub.title }}</h5>
          <p class="card-subtitle" style="opacity: 50%; margin-bottom: 0.5em">
            [{{ pub.type }}] {{ pub.publication_site }}
          </p>
          <p class="card-subtitle">{{ pub.author }}</p>
          <div class="card-text mt-2">
            {{ pub.description }}
          </div>
        </div>
        {% if pub.doi != null %}
        <div class="col-xl-2 col-md-0 text-center mt-3 align-self-center">
          <li class="list-inline-item">
            <a
              href="https://doi.org/{{ pub.doi }}"
              title="Publication"
              target="_blank"
            >
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-file-lines fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">Publication</span>
            </a>
          </li>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endfor %}

<div class="row" style="justify-content: center">
  <ul class="pagination main-pager">
    <li class="page-item next">
      <a class="page-link" href="./publications">
        <span class="d-none d-sm-inline-block">All Publications</span>
        <i class="fas fa-arrow-right" alt="All Publications"></i>
      </a>
    </li>
  </ul>
</div>

<hr class="hr mt-4" />

<div class="row justify-content-center">
  <h3 class="">Latest news</h3>
</div>

{% assign posts = paginator.posts | default: site.posts %}

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts limit:3 %}
  <li class="post-preview">
    <article>
      {%- capture thumbnail -%} {% if post.thumbnail-img %} {{
      post.thumbnail-img }} {% elsif post.cover-img %} {% if
      post.cover-img.first %} {{ post.cover-img[0].first.first }} {% else %} {{
      post.cover-img }} {% endif %} {% else %} {% endif %} {% endcapture %} {%
      assign thumbnail=thumbnail | strip %} {% if site.feed_show_excerpt ==
      false %} {% if thumbnail != "" %}
      <div class="post-image post-image-normal">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail" />
        </a>
      </div>
      {% endif %} {% endif %}

      <a href="{{ post.url | absolute_url }}">
        <h4 class="post-title">{{ post.title | strip_html }}</h4>

        <!-- {% if post.subtitle %}
        <h5 class="post-subtitle">
          {{ post.subtitle | strip_html }}
        </h5>
        {% endif %} -->
      </a>

      <!-- {% if post.author %}
      <span>By <strong>{{ post.author | strip_html }}</strong></span>
      {% endif %} -->
      <p class="post-meta">
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %} {{
        post.date | date: date_format }}
      </p>

      {% if thumbnail != "" %}
      <div class="post-image post-image-small">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail" />
        </a>
      </div>
      {% endif %} {% unless site.feed_show_excerpt == false %} {% if thumbnail
      != "" %}
      <div class="post-image post-image-short">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail" />
        </a>
      </div>
      {% endif %}

      <div class="post-entry">
        {% assign excerpt_length = site.excerpt_length | default: 50 %} {{
        post.excerpt | strip_html | truncatewords: excerpt_length }} {% assign
        excerpt_word_count = post.excerpt | number_of_words %} {% if
        post.content != post.excerpt or excerpt_word_count > excerpt_length %}
        <a href="{{ post.url | absolute_url }}" class="post-read-more"
          >[Read&nbsp;More]</a
        >
        {% endif %}
      </div>
      {% endunless %}

      <!--
        {% if site.feed_show_tags != false and post.tags.size > 0 %}
        <div class="blog-tags">
          <span>Tags:</span>
          <role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics>
          <ul class="d-inline list-inline" role="list">
            {% for tag in post.tags %}
            <li class="list-inline-item">
              <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      -->
    </article>
  </li>
  {% endfor %}
</ul>

<div class="row" style="justify-content: center">
  <ul class="pagination main-pager">
    <li class="page-item next">
      <a class="page-link" href="./news">
        <span class="d-none d-sm-inline-block">All News</span>
        <i class="fas fa-arrow-right" alt="All News"></i>
      </a>
    </li>
  </ul>
</div>
